<!-- takes Movie[] $items -->

<link rel="stylesheet" href="../views/design/global.css">
<link rel="stylesheet" href="../views/design/items_list.css">
<section>
   <?php foreach($items as $item) { ?>
	   <a href="player.ctrl.php?imdb_id=<?=  $item->imdb_id ?>">
	       <article>
	           <h3 class="movie_title"><?= $item->title ?></h3>
	           <div class="gradient"></div>
	           <img src="<?= '../data/posters/' . $item->imdb_id . '.jpg' ?>" alt="<?= $item->title . ' poster' ?>">
	           <p class="movie_year"><?= $item->year ?></p>
	       </article>
       </a>
   <?php } ?>
</section>
